.idea/*
.vscode/*
.DS_Store
.git/
/bin/
/Build/
/Configuration/**/Caches.yaml*
/Configuration/**/*.php
/Configuration/*.php
/Configuration/**/Caches.yaml
/Configuration/README
/Data/
/flow
/flow.bat
/Packages/Framework/
/Packages/Libraries/
/Packages/Application/
/Readme.rst
Upgrading.rst
/vendor
/Web/